@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
html {
  scrollbar-width: none;
}

.dot {
  width: 8px;
  height: 8px;
  background: #a855f7; /* purple */
  border-radius: 50%;
  animation: bounce 1.4s infinite ease-in-out both;
}

.dot:nth-child(1) {
  animation-delay: -0.32s;
}

.dot:nth-child(2) {
  animation-delay: -0.16s;
}

.dot:nth-child(3) {
  animation-delay: 0s;
}

@keyframes bounce {
  0%,
  80%,
  100% {
    transform: scale(0);
    opacity: 0.3;
  }
  40% {
    transform: scale(1);
    opacity: 1;
  }
}

.glow-orb {
  width: 200px;
  height: 200px;
  border-radius: 50%;

  background: radial-gradient(
    circle at 30% 30%,
    rgba(99, 102, 241, 0.8),
    rgba(168, 85, 247, 0.7),
    rgba(59, 130, 246, 0.6),
    transparent 70%
  );

  filter: blur(40px);
  animation:
    float 6s ease-in-out infinite alternate,
    pulse 4s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px) scale(1);
  }
  100% {
    transform: translateY(-20px) scale(1.05);
  }
}

@keyframes pulse {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
  }
}



.skeleton {
  position: relative;
  overflow: hidden;
  background-color: #e5e7eb;
}

.optimize {
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.optimize::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(89, 87, 87, 0.6),
    transparent
  );
  animation: shimmer 5.4s infinite;
}


.shimmer {
  background: linear-gradient(
    90deg,
    rgba(255,255,255,0) 0%,
    rgba(255,255,255,0.6) 50%,
    rgba(255,255,255,0) 100%
  );
  transform: translateX(-100%);
  animation: shimmerMove 1.5s infinite;
}

@keyframes shimmerMove {
  100% {
    transform: translateX(100%);
  }
}